<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid navbar-grid">

    <!-- GAUCHE : Accueil -->
    <div class="navbar-left">
      <%= link_to "Accueil", root_path, class: "navbar-action" %>
    </div>

    <!-- CENTRE : Logo -->
    <div class="navbar-center">
      <%= link_to root_path, class: "navbar-brand navbar-brand-center" do %>
        <%= image_tag "logo.png", class: "navbar-logo", alt: "BeReady" %>
      <% end %>
    </div>

    <!-- DROITE : Historique + Profil -->
    <div class="navbar-right">
      <%= link_to my_interviews_path, class: "navbar-action navbar-history-btn" do %>
        <span class="navbar-icon">☰</span>
        Historique
      <% end %>

      <% if user_signed_in? %>
        <div class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "navbar-action" %>
      <% end %>
    </div>

  </div>
</nav>
