<h1>Chatbot</h1>

<div>
  <% @messages.each do |message| %>
    <p><strong><%= message.role %></strong> : <%= message.content %></p>
  <% end %>
</div>

<%= simple_form_for [@chat, @message] do |f| %>
  <%= f.input :content, label: false, placeholder: "Écris ton message..." %>
  <%= f.hidden_field :role, value: "user" %>
  <%= f.button :submit, "Envoyer" %>
<% end %>
